@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-grey: #3498db;
    --border-grey: #d1dbe7;
    --bg-header-footer: #000000;
    --accent-color: #dadbf0;
    --background-color-light: #f4f4f4;
    --text-color: #333333;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.layout{
    min-height: 100vh;
}